<section class="login-form bg-dark text-bg-dark">
  <div class="container my-5 col col-md-5 col-lg-3 mx-auto">
    <div
      class="alert alert-danger error"
      role="alert"
      *ngIf="errorMessage.length > 0"
    >
      {{ errorMessage }}
    </div>

    <form
      class="w-100"
      (ngSubmit)="loginForm.valid && validateUser(loginForm)"
      #loginForm="ngForm"
    >
      <!-- todo: set focus -->
      <div class="mb-3" data-validate="Please enter your email address">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          aria-describedby="emailHelp"
          required
          [(ngModel)]="model.email"
          #email="ngModel"
        />
        <!-- email error start -->
        <span
          class="text-danger"
          *ngIf="(email.touched || loginForm.submitted) &&
          email.errors?.['required']"
          >An email address is required</span
        >
        <!-- email error end -->
      </div>

      <div class="mb-3" data-validate="Please enter your password">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          minlength="8"
          required
          [(ngModel)]="model.password"
          #password="ngModel"
        />
        <!-- TO-DO add show password -->

        <!-- password error start -->
        <span
          class="text-danger"
          *ngIf="(password.touched || loginForm.submitted) &&
          password.errors?.['required']"
          >A Password is required</span
        >
        <span
          class="text-danger"
          *ngIf="(password.touched || loginForm.submitted) &&
          password.errors?.['minlength']"
          >The password must be at least 5 in length</span
        >
        <!-- password error end -->
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="rememberMeCheck" />
        <label class="form-check-label" for="rememberMeCheck"
          >Remember me</label
        >
      </div>
      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit">Sign in</button>
      </div>
      <div class="mb-3">
        <p class="small">
          <a class="text-muted" href="#!">Forgot password?</a>
        </p>
      </div>

      <!-- Register buttons -->
      <div class="text-center mb-3">
        <p>or sign in with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
      </div>

      <div class="sign-up-link">
        <p class="small">
          Don't have an account?
          <a routerLink="/register" class="link-primary">Register here</a>
        </p>
      </div>
    </form>
  </div>
</section>
