<main class="d-flex" style="width: 100%">
  <!-- side bar start -->
  <app-smgr-sidebar></app-smgr-sidebar>
  <!-- side bar end -->

  <!-- category list group start -->
  <app-smgr-category-panel></app-smgr-category-panel>
  <!-- category list group  end -->

  <!-- snippet editos section start -->
  <section class="d-flex flex-column bg-white" style="width: 100%">
    <!-- align-items-stretch flex-shrink-0 -->

    <div
      class="border-bottom d-flex p-3 justify-content-between align-items-center"
    >
      <!-- total snippets -->
      <div>
        <h6 class="fs-6">
          <span class="total-snippets">0</span><span> snippets</span>
        </h6>
      </div>

      <div class="category-controls">
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-filter"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </div>
    </div>
  </section>

  <!-- snippet editos section end -->
</main>
