<main class="d-flex">
  <!-- side bar start -->
  <aside>
    <div
      class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
      style="width: 280px"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
      >
        <img
          src="../../../assets/generic-user.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <span class="fs-4">Lorem ipsum</span>
      </a>
      <hr />
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <i class="fa-solid fa-plus"></i> New collection
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-tags"></i> Tags
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-trash-can"></i> Trash
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-share"></i> Shared
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-gear"></i> Settings
          </a>
        </li>
      </ul>
      <hr class="mt-5" />
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <a href="#" class="nav-link text-white">
            <i class="fa-solid fa-right-from-bracket"></i> Sign out
          </a>
        </li>
      </ul>
    </div>
  </aside>
  <!-- side bar end -->

  <!-- category list group start -->
  <aside class="border-end">
    <div
      class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
      style="width: auto"
    >
      <div
        class="border-bottom d-flex p-3 justify-content-between align-items-center"
      >
        <!-- total snippets -->
        <div>
          <h6 class="fs-6">
            <span class="total-snippets">0</span><span> snippets</span>
          </h6>
        </div>

        <div class="category-controls">
          <button type="button" class="btn btn-sm category-controls-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <button type="button" class="btn btn-sm category-controls-btn">
            <i class="fa-solid fa-arrow-down-wide-short"></i>
          </button>
          <button type="button" class="btn btn-sm category-controls-btn">
            <i class="fa-solid fa-filter"></i>
          </button>
          <button type="button" class="btn btn-sm category-controls-btn">
            <i class="fa-solid fa-circle-plus"></i>
          </button>
        </div>
      </div>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
          aria-current="true"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight active"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>

        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
          aria-current="true"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
          aria-current="true"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
          aria-current="true"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
        <a
          href="#"
          class="list-group-item list-group-item-action py-3 lh-tight"
        >
          <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">List group item heading</strong>
            <small>{{ now }}</small>
          </div>
          <div class="col-10 mb-1 small">
            Some placeholder content in a paragraph below the heading and date.
          </div>
          <span
            *ngFor="let tag of tags"
            class="badge rounded-pill text-bg-light category-item-tags me-1"
            ><small>{{ "#" + tag }}</small></span
          >
        </a>
      </div>
    </div>
  </aside>
  <!-- category list group  end -->

  <!-- snippet editos section start -->
  <section class="d-flex flex-column bg-white" style="width: 50%">
    <!-- align-items-stretch flex-shrink-0 -->

    <div
      class="border-bottom d-flex p-3 justify-content-between align-items-center"
    >
      <!-- total snippets -->
      <div>
        <h6 class="fs-6">
          <span class="total-snippets">0</span><span> snippets</span>
        </h6>
      </div>

      <div class="category-controls">
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-filter"></i>
        </button>
        <button type="button" class="btn btn-sm category-controls-btn">
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </div>
    </div>
  </section>
  <!-- snippet editos section end -->
</main>
