<app-navbar></app-navbar>
<main>
  <div class="row m-0">
    <!-- side bar start -->
    <div class="col-2 p-0">
      <app-smgr-sidebar
        (contendIdEvent)="getContentIdFromSmgrSidebar($event)"
      ></app-smgr-sidebar>
    </div>
    <!-- side bar end -->

    <!-- category list group start -->
    <div class="col-4 p-0">
      <app-smgr-collections-panel
        (contendIdEvent)="getContentIdFromSmgrSidebar($event)"
      ></app-smgr-collections-panel>
    </div>
    <!-- category list group  end -->

    <!-- snippet editos section start -->
    <div class="col-6 p-0">
      <app-smgr-editor-panel></app-smgr-editor-panel>
    </div>
    <!-- snippet editors section end -->
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="staticBackdropModalLabel"
          [ngSwitch]="contentId"
        >
          <span *ngSwitchCase="'createNewSnippetCollection'"
            >Create New Snippet Collection</span
          >
          <span *ngSwitchCase="'snippetTags'">Manage Tags</span>
          <span *ngSwitchCase="'sharedSnippet'">Manage Shared Snippets</span>
          <span *ngSwitchCase="'smgrSettings'">Settings</span>
          <span *ngSwitchDefault>Error</span>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- contents go here start -->
      <div class="modal-body" [ngSwitch]="contentId">
        <div *ngSwitchCase="'createNewSnippetCollection'">
          <app-new-collection-form></app-new-collection-form>
        </div>
        <div *ngSwitchCase="'snippetTags'">
          <app-tags></app-tags>
        </div>
        <div *ngSwitchCase="'sharedSnippet'">
          <app-shared></app-shared>
        </div>
        <div *ngSwitchCase="'smgrSettings'">
          <app-smgr-settings></app-smgr-settings>
        </div>
        <div *ngSwitchDefault>
          <p class="fs-5">
            <i class="fa-solid text-danger fa-circle-exclamation"></i> An error
            occured!
          </p>
          <p class="fs-5">Please try again later.</p>
        </div>
      </div>
      <!-- contents go here end -->

      <div class="modal-footer" [ngSwitch]="contentId">
        <button type="button" class="btn btn-primary">
          <span *ngSwitchCase="'createNewSnippetCollection'"
            ><i class="fa-solid fa-plus"></i> Create</span
          >
          <span *ngSwitchCase="'snippetTags'"
            ><i class="fa-solid fa-floppy-disk"></i> Save</span
          >
          <span *ngSwitchCase="'sharedSnippet'"
            ><i class="fa-solid fa-check"></i> Ok</span
          >
          <span *ngSwitchCase="'smgrSettings'"
            ><i class="fa-solid fa-floppy-disk"></i> Save</span
          >
          <span *ngSwitchDefault
            ><i class="fa-solid fa-circle-exclamation"></i> Error</span
          >
        </button>
      </div>
    </div>
  </div>
</div>
