<main class="bg-dark text-white">
  <section class="main-jumbotron">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 my-5">
          <h1 class="fs-1 text-primary">CodeSnip</h1>
          <h1 class="fs-2 text-white">We are the best snippet manager</h1>
          <h2 class="fs-3 text-secondary">
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus
            magna justo, lacinia eget consectetur sed, convallis at tellus.
            Quisque velit nisi, pretium ut lacinia in, elementum id enim.
          </h2>
          <a
            class="btn btn-primary rounded-pill mt-4 me-3"
            routerLink="/documentation"
            role="button"
            >Documentation</a
          >
          <a
            class="btn btn-secondary rounded-pill mt-4"
            href="https://github.com/tomcruzana/CodeSnip"
            target="_blank"
            role="button"
            ><i class="fa-brands fa-github"></i
          ></a>
        </div>
        <div
          class="col-lg-6 col-sm-12 my-5 text-center d-flex justify-content-center"
        >
          <div class="logo">
            <i class="fa-solid fa-cubes fa-10x"></i>
            <i class="fa-brands fa-codepen fa-5x"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
