<section class="main-features bg-dark">
  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let feature of tempFeatures">
        <div class="card h-100 text-bg-dark bg-primary">
          <div class="card-body">
            <h5 class="card-title">{{ feature.title }}</h5>
            <p class="card-text">
              {{ feature.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
