<section class="login-form bg-dark text-bg-dark">
  <div class="container my-5 col col-md-5 col-lg-3 mx-auto">
    <form class="w-100">
      <div class="mb-3">
        <label for="exampleInputUsername1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
        <!-- TO-DO add show password -->
      </div>
      <div class="mb-3">
        <label for="exampleInputConfirmPassword" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputConfirmPassword"
        />
        <!-- TO-DO add show password -->
      </div>

      <!-- Register buttons -->
      <div class="text-center mb-3">
        <p>or register with:</p>
        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>
      </div>

      <div class="sign-up-link">
        <p class="small">
          Sign in insted
          <a routerLink="/login" class="link-primary">Sign in</a>
        </p>
      </div>

      <div class="d-grid mb-3">
        <button class="btn btn-primary" type="submit" (click)="register()">
          Register
        </button>
      </div>
    </form>
  </div>
</section>
