<aside>
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
    style="width: 100%"
  >
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="/profile"
          class="d-flex align-items-center mb-1 mx-3 text-white text-decoration-none"
        >
          <img
            src="../../../assets/generic-user.png"
            alt=""
            width="24"
            height="24"
            class="rounded-circle me-2"
          />
          <span class="fs-6">Lorem ipsum</span>
        </a>
      </li>
    </ul>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="fa-solid fa-plus"></i> New collection
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa-solid fa-tags"></i> Tags
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa-solid fa-share"></i> Shared
        </a>
      </li>
    </ul>

    <ul class="nav nav-pills flex-column mb-auto mt-5">
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa-solid fa-gear"></i> Settings
        </a>
      </li>
      <hr />
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa-solid fa-right-from-bracket"></i> Sign out
        </a>
      </li>
    </ul>
  </div>
</aside>
