<section class="main-features bg-dark">
  <div
    class="container my-5 text-bg-dark d-flex align-items-center justify-content-center flex-column"
  >
    <img
      src="../../../assets/404.gif"
      alt="404 image"
      class="img-fluid img-404 hvr-buzz"
    />
    <h1 class="fs-3 mt-4">Page Not Found!</h1>
    <h2 class="fs-4 mt-3">
      HTTP Error <span class="text-primary">404</span> The requested page does
      not exist.
    </h2>
    <h3 class="fs-5 mt-3">
      Click here to go back to
      <span class="text-primary"><a href="#">Home</a></span>
    </h3>
  </div>
</section>
