<section class="bg-dark text-bg-dark">
  <div class="container my-5">
    <!-- breadcrumb start -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
      </ol>
    </nav>
    <!-- breadcrumb end -->

    <!-- profile info start -->
    <div class="profile-info-container">
      <div class="profile-header-container d-flex flex-column">
        <!-- profile img -->
        <label
          for="formFile"
          class="form-label align-self-center profile-img-label"
        >
          <input
            class="form-control d-none"
            type="file"
            id="formFile"
            accept="image/png, image/jpeg"
          />
          <img
            src="https://picsum.photos/id/237/150/150"
            class="rounded-circle d-block img-thumbnail profile-img"
            height="200"
            width="200"
            alt="profile picture"
          />
          <div class="overlay">
            <i class="fa-solid fa-image"></i> Upload image
          </div>
        </label>

        <h4 class="fs-4 my-2 align-self-center">$John $Doe</h4>
        <hr />
      </div>

      <div class="ny-1 plan-container">
        <div *ngIf="planType === 'pro'; else updatePlan">
          <p class="fs-6 m-0 d-inline fs-bold">Plan Type |&nbsp;</p>
          <span class="d-inline text-warning">{{ planType | uppercase }}</span>
        </div>

        <ng-template #updatePlan>
          <p class="fs-6 m-0 d-inline fs-bold">Plan Type |&nbsp;</p>
          <span class="d-inline text-warning">{{ planType | uppercase }}</span>
          <button
            id="changePlan"
            type="button"
            class="btn btn-warning btn-sm rounded-pill my-2 d-block"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdropModal"
            (click)="loadModalOnClick('changePlan')"
          >
            Change Plan
          </button>
        </ng-template>
      </div>

      <hr />

      <div class="my-1 username-container">
        <p class="fs-6 fw-bold m-0">Username</p>
        <p class="fs-6">$Username</p>
      </div>

      <div class="my-1 password-container">
        <p class="fs-6 fw-bold m-0">Password</p>
        <p class="fs-6">$Password</p>
      </div>

      <div class="my-1 email-container">
        <p class="fs-6 fw-bold m-0">Email Address</p>
        <p class="fs-6">$Email</p>
      </div>

      <div class="my-1 dob-container">
        <p class="fs-6 fw-bold m-0">Date of Birth</p>
        <p class="fs-6">$01/01/1972</p>
      </div>

      <div class="my-1 bio-container">
        <p class="fs-6 fw-bold m-0">Bio</p>
        <p class="fs-6">
          $Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
          Curabitur aliquet quam id dui posuere blandit. Proin eget tortor
          risus. Cras ultricies ligula sed magna dictum porta. Sed porttitor
          lectus nibh. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet,
          consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia
          in, elementum id enim. Pellentesque in ipsum id orci porta dapibus.
          Donec sollicitudin molestie malesuada.
        </p>
        <button
          type="button"
          id="editProfile"
          class="btn btn-primary btn-sm rounded-pill"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdropModal"
          (click)="loadModalOnClick('editProfile')"
        >
          Edit Profile Info
        </button>
      </div>

      <hr />

      <div class="my-1 payment-info-container">
        <p class="fs-6 fw-bold m-0">Card Type</p>
        <p class="fs-6">$Visa</p>
        <p class="fs-6 fw-bold m-0">Card Number</p>
        <p class="fs-6">
          Ending in <span class="card-last-4-digits">$1101</span>
        </p>
        <button
          id="changePayment"
          type="button"
          class="btn btn-primary btn-sm rounded-pill"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdropModal"
          (click)="loadModalOnClick('changePayment')"
        >
          Change Payment Info
        </button>
      </div>
    </div>
    <!-- profile info end -->
  </div>
</section>

<!-- edit profile modal start-->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropModalLabel">Title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- contents go here start -->
      <div class="modal-body" [ngSwitch]="contentId">
        <div *ngSwitchCase="'changePlan'">
          <p>changePlanId</p>
        </div>
        <div *ngSwitchCase="'editProfile'">
          <app-editprofile-form></app-editprofile-form>
        </div>
        <div *ngSwitchCase="'changePayment'">
          <p>changePaymentInfoId</p>
        </div>
        <div *ngSwitchDefault>
          <p class="fs-5">
            <i class="fa-solid text-danger fa-circle-exclamation"></i> An error
            occured!
          </p>
          <p class="fs-5">Please try again later.</p>
        </div>
      </div>
      <!-- contents go here end -->

      <div class="modal-footer">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-floppy-disk"></i> Update
        </button>
      </div>
    </div>
  </div>
</div>
<!-- edit profile modal end -->
