<section class="bg-dark text-bg-dark">
  <div class="container my-5 col-12">
    <p class="fs-3 me-1">Welcome, <span class="username">??????</span></p>
    <p class="fs-5 me-1">
      Plan type:
      <span
        class="plan-type text-capitalize text-warning"
        *ngIf="planType === 'pro'; else updatePlan"
        >{{ planType }}</span
      >
    </p>
    <ng-template #updatePlan>
      <span class="plan-type text-capitalize text-warning"
        >{{ planType }}
      </span>
      <a class="fs-6" routerLink="/pricing">change plan</a>
    </ng-template>
    <hr />
    <form [formGroup]="updateUserProfileForm">
      <label class="fs-6 me-1 mb-3" for="username">Username:</label>
      <input id="username" type="text" formControlName="username" required />
      <span
        *ngIf="
          updateUserProfileForm.controls.username.hasError('required') &&
          updateUserProfileForm.controls.username.dirty
        "
      >
        <small class="text-danger"> username required</small></span
      >
      <br />

      <label class="fs-6 me-1 mb-3" for="email">Email address:</label>
      <input id="email" type="text" formControlName="email" required />
      <span
        *ngIf="
          updateUserProfileForm.controls.email.hasError('required') &&
          updateUserProfileForm.controls.email.dirty
        "
      >
        <small class="text-danger"> email required</small></span
      >
      <br />

      <label class="fs-6 me-1 mb-3" for="Password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        required
      /><span
        *ngIf="
          updateUserProfileForm.controls.password.hasError('required') &&
          updateUserProfileForm.controls.password.dirty
        "
      >
        <small class="text-danger"> password required</small></span
      >
      <br />

      <hr />
      <p class="fs-3 me-1">Payment Information</p>
      <p class="fs-6 me-1">
        Payment Method: <span class="payment-method text-primary">Card</span>
      </p>
      <label class="fs-6 me-1 mb-3" for="ccnumber">Card number:</label>
      <input
        id="ccnumber"
        type="tel"
        inputmode="numeric"
        formControlName="ccnumber"
        required
      />
      <span
        *ngIf="
          updateUserProfileForm.controls.ccnumber.hasError('required') &&
          updateUserProfileForm.controls.ccnumber.dirty
        "
      >
        <small class="text-danger"> card number required</small></span
      >
      <span
        *ngIf="
          updateUserProfileForm.controls.ccnumber.hasError('pattern') &&
          updateUserProfileForm.controls.ccnumber.dirty
        "
      >
        <small class="text-danger"> invalid card number</small></span
      >
      <br />
      <br />
      <hr />
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-floppy-disk"></i>
        Save
      </button>
    </form>
  </div>
</section>
