/* search box */
.search-input-box {
  background-image: url("../../../../assets/magnifying-glass-ico.png");
  background-position: 8px 4px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  width: 30px;
  padding-left: 32px;
  transition: width 0.5s;
}

.search-input-box:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.search-input-box:focus {
  background-color: #f8f9fa;
  width: 220px;
}
/* drop down items */
.dropdown-item {
  cursor: pointer;
}

/* snippet collections  */
.collections-controls-btn:hover {
  background-color: #f8f9fa !important;
}

.control-trash:hover {
  color: red !important;
}

.collections-item {
  background-color: #f8f9fa !important;
  color: #495057 !important;
  cursor: pointer;
}

.collections-item:hover {
  background-color: #fff !important;
  color: #495057 !important;
  cursor: pointer;
}
