<aside class="border-end">
  <div
    class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
    style="width: 100%; height: 95vh; overflow-y: scroll"
  >
    <!-- snippet collections controls start -->
    <div
      class="border-bottom d-flex p-3 justify-content-between align-items-center"
    >
      <!-- total snippet collections -->
      <div>
        <h6 class="fs-6 m-0">
          <span class="total-snippets">{{ snippetCollections.length }}</span
          ><span> snippet collections</span>
        </h6>
      </div>

      <!-- snippet collections controls start -->
      <div
        class="collections-controls d-flex justify-content-between align-items-center"
      >
        <div class="collections-search input-group input-group-sm">
          <input
            type="text"
            placeholder="search titles or tags"
            class="form-control search-input-box"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm"
          />
        </div>

        <div class="dropdown btn-group">
          <button
            type="button"
            class="btn btn-sm collections-controls-btn dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa-solid fa-arrow-down-wide-short"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active">Title</a></li>
            <li><a class="dropdown-item">Date Created</a></li>
            <li><a class="dropdown-item">Date Updated</a></li>
          </ul>
        </div>

        <button
          type="button"
          class="btn btn-sm collections-controls-btn add-snippet-collection-control text-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          (click)="loadModalOnClick('createNewSnippetCollection')"
        >
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </div>
    </div>
    <!-- snippet collections controls end -->

    <!-- scroll area start -->
    <div class="list-group list-group-flush border-bottom scrollarea">
      <!-- snippet collection start -->
      <button
        type="button"
        class="list-group-item list-group-item-action py-3 lh-tight collections-item"
        *ngFor="let snippetCollection of snippetCollections"
        (click)="loadSnippets(snippetCollection.id)"
      >
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1 collection-title">{{
            snippetCollection.title
          }}</strong>
          <small>{{ snippetCollection.dateCreated }}</small>
        </div>
        <div class="col-10 mb-1 small collection-description">
          {{ snippetCollection.description }}
        </div>

        <div class="d-flex justify-content-between">
          <div class="tags">
            <span
              *ngFor="let tag of tags"
              class="badge rounded-pill text-bg-light collections-item-tags me-1"
              ><small>{{ "#" + tag }}</small></span
            >
          </div>
          <span class="collection-controls">
            <button
              [id]="'update' + snippetCollection.id"
              type="button"
              class="btn btn-sm collections-controls-btn control-options"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdropModalForSnipCollectionUpdate"
              (mouseover)="getElementId($event)"
            >
              <i class="edit-collections-btn fa-solid fa-gear me-2"></i>
            </button>

            <button
              #deleteBtn
              [id]="snippetCollection.id"
              type="button"
              class="btn btn-sm collections-controls-btn control-trash"
              (click)="deleteSnippetCollection(deleteBtn.id)"
            >
              <i class="delete-collections-btn fa-solid fa-trash"></i>
            </button>
          </span>
        </div>
      </button>

      <!-- snippet collections end -->
    </div>
  </div>
</aside>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropModalForSnipCollectionUpdate"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropModalForSnipCollectionUpdateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="staticBackdropModalForSnipCollectionUpdateLabel"
        >
          Update Snippet Collection
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <!-- contents go here start -->
      <div class="modal-body">
        <form [formGroup]="updateSnippetCollectionForm">
          <input
            #inputTxtId
            formControlName="title"
            type="text"
            class="form-control"
            name="title"
            required
            [value]=""
            maxlength="34"
            [hidden]="true"
          />
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              formControlName="title"
              id="title"
              type="text"
              class="form-control"
              name="title"
              required
              maxlength="34"
            />
            <span
              class="form-text input-error text-danger"
              *ngIf="
                updateSnippetCollectionForm.controls.title.hasError('required')
              "
            >
              A title is required (max of 34 characters).
            </span>
            <span
              class="form-text input-error text-danger"
              *ngIf="
                updateSnippetCollectionForm.controls.title.hasError('maxlength')
              "
            >
              Tile is maximum of 34 characters only.
            </span>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              formControlName="description"
              id="description"
              class="form-control"
              required
              maxlength="125"
            ></textarea>
            <span
              class="form-text input-error text-danger"
              *ngIf="
                updateSnippetCollectionForm.controls.description.hasError(
                  'required'
                )
              "
            >
              A description is required (max of 125 characters).
            </span>
            <span
              class="form-text input-error text-danger"
              *ngIf="
                updateSnippetCollectionForm.controls.description.hasError(
                  'maxlength'
                )
              "
            >
              Description is maximum of 125 characters only.
            </span>
          </div>

          <div class="mb-3">
            <label for="programmingLanguage" class="form-label"
              >Programming Language</label
            >
            <select
              class="form-select"
              formControlName="programmingLanguage"
              id="programmingLanguage"
              required
            >
              <option value="java">Java</option>
              <option value="JavaScript">JavaScript</option>
              <option value="Csharp">C#</option>
            </select>
            <span
              class="form-text input-error text-danger"
              *ngIf="
                updateSnippetCollectionForm.controls.programmingLanguage.hasError(
                  'required'
                )
              "
            >
              A language is required.
            </span>
          </div>
        </form>
      </div>
      <!-- contents go here end -->

      <div class="modal-footer">
        <button
          id="1123"
          type="button"
          class="btn btn-primary"
          (click)="updateSnippetCollection()"
        >
          <span><i class="fa-solid fa-floppy-disk"></i> Update</span>
        </button>
      </div>
    </div>
  </div>
</div>
