.collections-controls-btn:hover {
  background-color: #f8f9fa !important;
}

.fa-trash:hover {
  color: red;
}

.fa-pen-to-square:hover {
  color: #0d6efd;
}

.collections-item {
  background-color: #f8f9fa !important;
  color: #495057 !important;
  cursor: pointer;
}

.collections-item:hover {
  background-color: #fff !important;
  color: #495057 !important;
  cursor: pointer;
}
